@import "../../design-tokens/tokens.css";
@import "../../design-tokens/typography.css";
@import "../../design-tokens/icons.css";

:root {
  --runtime-device-safe-area-bottom: 0px;
  --runtime-safe-area-bottom: 0px;
  --runtime-nav-margin-x: var(--layout-drizzle-nav-margin-x);
}

html[data-runtime="webview"] {
  --runtime-device-safe-area-bottom: 0px;
  --runtime-safe-area-bottom: 20px;
  --runtime-nav-margin-x: var(--layout-drizzle-nav-margin-x);
}

html[data-runtime="browser"] {
  --runtime-device-safe-area-bottom: 0px;
  --runtime-safe-area-bottom: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-white);
  color: var(--color-text-default);
}

#root {
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}

