.glyph {
  display: block;
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  display: block;
}

.text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

